body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5.625rem;
  font-family: "Sacramento", serif;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h2 {
  margin-top: 0;
  font-size: 2.5rem;
  font-family: "Montserrat", serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Montserrat", serif;
  color: #11999E;
}

hr {
  height: 0;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-top-width: thick;
}

a {
  color: #11999E;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}


/*----- CLass Styles ---*/

/*----- CLass Styles - Top Container---*/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

/*----- CLass Styles - Middle Container---*/
.middle-container {
  position: relative;
}

.profile {
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 2;
  padding-top: 25px;
  padding-bottom: 25px;
}

.profileimage {
  border-radius: 100%;
  width: 25%;
}

.skills {
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 2;
  padding-top: 25px;
  padding-bottom: 25px;
}

.skill-row{
  text-align: left;
}

.businessimage {
  width: 20%;
  float:left;
  margin: 0 30px 0 0;
}

.computerimage {
  width: 20%;
  float:right;
  margin: 0 0 0 30px;
}

.contact-me {
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 2;
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}





/*----- CLass Styles - Bottom Container---*/
.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-copyright{
  color: #EAF6F6;
  margin: 15px 0 5px 0;
}
